.title-container {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.work-item-migrator-container {
    display: flex;
    justify-content: space-between;
    padding: 5% 20% 4% 20%;
}

.query-container {
    display: flex;
    margin: 4rem 0 2rem 0;
}

.jira-fields {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    gap: 1rem;
}

.query-container>input,
.jira-fields>input {
    border-radius: 10px;
    background-color: #B4B4B4;
    border: none;
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.65);
    width: 100%;
    margin-right: 1.5rem;
}

.platform-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 0 1rem;
    max-width: 25rem;
}

.work-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.work-item {
    background-color: #232323;
    color: #ffffff;
    padding: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.mig-btn {
    padding: 0.4rem 1rem;
    background: none;
    border: none;
    border-radius: 12px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #5865F2;
}

.mig-btn-final {
    padding: 0.5rem 1rem;
    background: none;
    border: none;
    border-radius: 12px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #5865F2;
}

.selected {
    border: 0.3rem #5865F2 solid;
}

.repeated {
    border: 0.3rem red solid;
}

.migrate-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.migrate-container>input {
    border-radius: 10px;
    background-color: #B4B4B4;
    border: none;
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.65);
    width: 100%;
    margin-right: 1.5rem;
}

.icon-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.item-loader{
    display: flex;
    align-items: center;
    justify-content: center;
}